<h1>Detention Management</h1>
<ul>
  <li>
    <%= link_to "Detentions", :detentions %>
  </li>
  <li>
    <%= link_to "Consequences", :consequences %>
  </li>
  <li>
    <%= link_to "Students", :students %>
  </li>
  <li>
    <%= link_to "Teachers", :teachers %>
  </li>
</ul>
